@font-face {
    font-family: "OleoScript";
    font-weight: bold;
    font-style: normal;
    src: url("OleoScript-Bold.ttf");
}

@font-face {
    font-family: "OleoScript";
    font-weight: normal;
    font-style: normal;
    src: url("OleoScript-Regular.ttf");
}